<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <app-header></app-header>
    </div>
    <video
      autoplay
      muted
      loop
      preload="true"
      id="myVideo"
      controls
      style="width: 112%;
              margin-left: -5%;
              margin-top: 5%;"
    >
      <source src="../../assets/videos/Cupid dating app.mp4" type="video/mp4" />
    </video>
    <div
      class="col-lg-12"
      style="    background-color: #908cc1; margin-top: 5%;"
      data-aos="fade-up"
    >
      <p
        style="font-size: 71px;
                font-family: sans-serif;
                font-weight: bold;
                margin-top: 5%;
                text-align: center;
                color: white;"
        data-aos="fade-up"
      >
        Cupid
      </p>
      <p
        style="font-size: 21px;
                margin-top: 5%;
                color: white;
                margin-bottom: 7%;"
        data-aos="fade-up"
      >
        is the dating app for meeting exciting local singles, making new
        friends, and finding your perfect match for a successful long-term
        relationship. Cupid is home to over 8 million registered users! Cupid
        delivers a fun and rewarding dating experience! Advanced location-based
        search makes it easy to find amazing local singles!
      </p>
    </div>
    <div class="col-lg-12" style="    margin-top: 12%;">
      <img
        src="../../assets/images/cupidimage.jpg"
        style="width: 70%;
    margin-left: 14%;
    margin-bottom: 8%;"
        data-aos="zoom-in"
      />

      <!-- <div class="col-lg-6">
        <img
          src="../../assets/images/cupid-boy.png"
          style="width: 110%;
                  margin-left: -11%;
                  margin-top: 4%;"
        />
      </div> -->
    </div>

    <div class="col-lg-12">
      <img
        src="../../assets/images/hearts-wvv.png"
        style="width: 52%;
    margin-left: 26%;"
        data-aos="zoom-in"
      />
    </div>

    <div class="col-lg-12" style="background-color: #a8c4ea;">
      <div class="sufferlogo">
        <a href="https://apps.apple.com/us/app/cupid-dating-app/id379268567">
          <img
            src="../../assets/images/logo (2).png"
            style="margin-left: 41%;
                      border-radius: 10px;
                      margin-top: 6%;
                      margin-bottom: 6%;"
          />
        </a>
      </div>
    </div>

    <div class="col-lg-12">
      <div
        class="next"
        style="margin-left: 20%;
    margin-right: -62%;
    margin-top: 9%;"
      >
        <a href="/portfolio" style="    text-decoration: none;">
          <p
            style="    font-size: 400%;
                            font-family: sans-serif;
                            font-weight: bold;
                            background-color: #e68e8e;
                            color: white;
                            margin-left: 1%;
                            margin-right: 59%;
                            margin-top: 9%;
                            text-align: center;
                            border-radius: 12px;"
          >
            NEXT
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="menu">
  <div class="row header p-5 mt-4">
    <div class="col-lg-6 col-sm-6 text-left">
      <img class="logo ml-5" src="../../assets/images/logo-dark.png" />
    </div>
    <div class="col-lg-6 col-sm-6 text-right">
      <button
        class="btn font-2 btn-menu-close mr-5"
        (click)="handleMenuCloseClick()"
      >
        <img class="icon" src="../../assets/icons/close.png" />
      </button>
    </div>
  </div>
  <ul class="">
    <li>
      <a class="font-2" href="/">HOME </a>
    </li>
    <li><a class="font-2" href="/portfolio">GINKO</a></li>
    <li><a class="font-2" href="/cupid">CUPID</a></li>
    <li><a class="font-2" href="/diet">DIET</a></li>
    <li><a class="font-2" href="/suffer">SUFFER</a></li>
    <li><a class="font-2" href="/bolt">BOLT</a></li>
    <li><a class="font-2" href="/lyrical">Lyrical</a></li>
    <li><a class="font-2" href="/get-quote">GET A QUOTE </a></li>
    <li><a class="font-2" href="/contact">CONTACT US</a></li>
  </ul>
</div>
