<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <app-header></app-header>
    </div>
    <video
      autoplay
      muted
      loop
      preload="true"
      id="myVideo"
      controls
      style=" width: 115%;
                    margin-left: -6%;
                    margin-top: 4%;"
    >
      <source
        src="../../assets/videos/How Bolt app works.mp4"
        type="video/mp4"
      />
    </video>
    <div
      class="col-lg-6"
      style="background-color: rgb(207, 238, 249); margin-top: 10%;"
    >
      <div class="whybolt">
        <p
          style="font-size: 418%;
                    font-family: sans-serif;
                    font-weight: bold;
                    color: #3986e4;
                    margin-top: 4%;
                    margin-left: 29%;"
        >
          Why Bolt?
        </p>
      </div>

      <div class="letter1">
        <p
          style="font-size: 20px;
                    color: #4294ad;
                    margin-top: 7%;
                    margin-left: 5%;
                    margin-bottom: 11%;"
        >
          Pay lower commission compared to other driver apps Work on your own
          schedule Collect your earnings every week Enjoy fast customer support
        </p>
      </div>
    </div>
    <div class="col-lg-6" style="background-color: #efd9ef; margin-top: 10%;">
      <div class="how">
        <p
          style="font-size: 418%;
                    font-weight: bold;
                    color: #c73bc3;
                    margin-top: 3%;
                        margin-left: 9%;"
        >
          How to get started
        </p>
      </div>
      <p
        style="    font-size: 20px;
                    margin-top: 8%;
                    color: #a93fa9;
                    margin-left: 7%;"
      >
        Sign up to drive in Bolt Driver app or at https://partners.bolt.eu We
        will guide you through the training process Start earning extra money
      </p>
    </div>
    <div
      class="col-lg-12"
      style="margin-top: 13%;
    margin-left: 0%;
    background-color: #ff7f7f;"
    >
      <div class="col-lg-4">
        <div class="bolt-1">
          <img
            src="../../assets/images/bolt1 (1).png"
            style="margin-left: 15%;"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bolt-2">
          <img
            src="../../assets/images/bolt1 (2).png"
            style="margin-left: 10%;"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bolt-3">
          <img
            src="../../assets/images/bolt1 (3).png"
            style="margin-left: 15%;"
          />
        </div>
      </div>
    </div>

    <div
      class="col-lg-12"
      style="background-color: #89a9ce;
              margin-top: 14%;"
    >
      <div class="sufferlogo">
        <a href="https://apps.apple.com/us/app/bolt-driver-taxify/id897442736">
          <img
            src="../../assets/images/logo (4).png"
            style="margin-left: 39%;
                    border-radius: 10%;
                        margin-top: 11%;
                margin-bottom: 10%;"
          />
        </a>
      </div>
    </div>
    <!-- <div class="col-lg-6">
      <div class="before">
        <a href="/suffer">
          <p
            style="font-size: 400%;
            font-family: sans-serif;
            font-weight: bold;
            background-color: #b28ee6;
            color: white;
            margin-left: 47%;
            margin-right: 6%;
            margin-top: 9%;
            text-align: center;
            border-radius: 13px;"
          >
            BEFORE
          </p>
        </a>
      </div>
    </div> -->
    <div class="col-lg-12">
      <div class="next" style="margin-left: 35%;">
        <a href="/lyrical" style="text-decoration: none;">
          <p
            style="    font-size: 400%;
                  font-family: sans-serif;
                  font-weight: bold;
                  background-color: #e68e8e;
                  color: white;
                  margin-left: 1%;
                  margin-right: 59%;
                  margin-top: 9%;
                  text-align: center;
                  border-radius: 12px;"
          >
            NEXT
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="menu">
  <div class="row header p-5 mt-4">
    <div class="col-lg-6 col-sm-6 text-left">
      <img class="logo ml-5" src="../../assets/images/logo-dark.png" />
    </div>
    <div class="col-lg-6 col-sm-6 text-right">
      <button
        class="btn font-2 btn-menu-close mr-5"
        (click)="handleMenuCloseClick()"
      >
        <img class="icon" src="../../assets/icons/close.png" />
      </button>
    </div>
  </div>
  <ul class="">
    <li>
      <a class="font-2" href="/">HOME </a>
    </li>
    <li><a class="font-2" href="/portfolio">GINKO</a></li>
    <li><a class="font-2" href="/cupid">CUPID</a></li>
    <li><a class="font-2" href="/diet">DIET</a></li>
    <li><a class="font-2" href="/suffer">SUFFER</a></li>
    <li><a class="font-2" href="/bolt">BOLT</a></li>
    <li><a class="font-2" href="/lyrical">Lyrical</a></li>
    <li><a class="font-2" href="/get-quote">GET A QUOTE </a></li>
    <li><a class="font-2" href="/contact">CONTACT US</a></li>
  </ul>
</div>
