<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <app-header></app-header>
    </div>

    <!-- <div
      class="col-lg-8"
      style="    background-color: #72b1f5;    margin-top: 4%;"
    >
      <p
        style="font-size: 600%;
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 35%;
        margin-bottom: 40%;"
      >
        Lyrical Lemonda
      </p>
    </div>
    <div
      class="col-lg-4"
      style="background-color: #e3c3e4;
        margin-top: 4%;"
    >
      <img
        src="../../assets/images/214.png"
        style="margin-left: -78%;
        width: 173%;"
      />
    </div> -->

    <div class="col-lg-12">
      <div class="img">
        <img
          src="../../assets/images/lyrical.jpg"
          style="width: 116%;
          margin-left: -7%;
          margin-top: 4%;"
        />
      </div>
    </div>

    <div class="col-lg-3">
      <img
        src="../../assets/images/214 (1).PNG"
        style="width: 90%; margin-top: 58%;"
      />
    </div>
    <div class="col-lg-3">
      <img
        src="../../assets/images/214 (2).PNG"
        style="width: 90%;margin-top: 58%;"
      />
    </div>
    <div class="col-lg-3">
      <img
        src="../../assets/images/214 (3).PNG"
        style="width: 90%; margin-top: 58%;"
      />
    </div>
    <div class="col-lg-3">
      <img
        src="../../assets/images/214 (4).PNG"
        style="width: 90%;margin-top: 58%;"
      />
    </div>

    <div
      class="col-lg-12"
      style="background-color: #ffc4e9;
    margin-top: 12%;"
    >
      <div class="lyricallogo">
        <a href="https://lyricallemonade.com/">
          <img
            src="../../assets/images/logo (1).png"
            style="margin-top: 6%;
                    margin-left: 42%;
                    margin-bottom: 6%;
                    border-radius: 12px;"
          />
        </a>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="next" style="margin-left: 36%;">
        <a href="/cupid" style="text-decoration: none;">
          <p
            style="    font-size: 400%;
                        font-family: sans-serif;
                        font-weight: bold;
                        background-color: #e68e8e;
                        color: white;
                        margin-left: 1%;
                        margin-right: 59%;
                        margin-top: 9%;
                        text-align: center;
                        border-radius: 12px;"
          >
            NEXT
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="menu">
  <div class="row header p-5 mt-4">
    <div class="col-lg-6 col-sm-6 text-left">
      <img class="logo ml-5" src="../../assets/images/logo-dark.png" />
    </div>
    <div class="col-lg-6 col-sm-6 text-right">
      <button
        class="btn font-2 btn-menu-close mr-5"
        (click)="handleMenuCloseClick()"
      >
        <img class="icon" src="../../assets/icons/close.png" />
      </button>
    </div>
  </div>
  <ul class="">
    <li>
      <a class="font-2" href="/">HOME </a>
    </li>
    <li><a class="font-2" href="/portfolio">GINKO</a></li>
    <li><a class="font-2" href="/cupid">CUPID</a></li>
    <li><a class="font-2" href="/diet">DIET</a></li>
    <li><a class="font-2" href="/suffer">SUFFER</a></li>
    <li><a class="font-2" href="/bolt">BOLT</a></li>
    <li><a class="font-2" href="/lyrical">Lyrical</a></li>
    <li><a class="font-2" href="/get-quote">GET A QUOTE </a></li>
    <li><a class="font-2" href="/contact">CONTACT US</a></li>
  </ul>
</div>
