<div class="container-fluid">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-lg-12 mt-5">
        <div class="title" data-aos="fade-right">
          <h1 class="d-inline-block align-middle">Contact us</h1>
          <span class="d-inline-block line md ml-3"></span>
        </div>
        <h4 class="subtitle" data-aos="fade-up">Get a quote in 2 days</h4>
        <div class="">
          <h5 class="mt-5 mb-3">
            Want to learn more or work with Vitican? Reach out to us for a quick
            conversation to see if we would work well together.
          </h5>
          <p><b>Email:</b> nathan@viticanpartners.com</p>
          <p><b>Phone:</b> 509-596-1385</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-black">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          <h1 class="d-inline-block font-2 letter-spacing">VITICAN PARTNERS</h1>
          <p class="mt-5">
            At Vitican, we are all about personal relationships. We don’t want
            to stick your project into an algorithm and spit out a copy-paste
            project that you will soon forget. Rather, we want to get to know
            you, your business, and your specific goals for the future. With a
            true partnership, we can build a relationship that lasts for years
            and benefits all involved. Whether you have a complete picture of
            what you want to build or just a basic idea – or even no idea at all
            – we are here to serve you. Contact us today!
          </p>
          <button
            class="btn custom-border white letter-spacing mt-5 text-white font-2"
          >
            OUR SERVICES
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid fifth bg-black">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-lg-4">
        <h3 class="font-2">Address</h3>
        <p>
          500 NE Colorado Street, <br />
          Pullman WA 99163
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <h3 class="font-2">Phone</h3>
        <p>
          509-596-1385
        </p>
      </div>
      <div class="col-lg-4 text-right">
        <h3 class="font-2">Social</h3>
        <a class="footer-icon" href=""
          ><img class="icon" src="../../assets/icons/facebook.png"
        /></a>
        <a class="footer-icon" href=""
          ><img class="icon" src="../../assets/icons/twitter.png"
        /></a>
        <br />
        <a class="footer-icon" href=""
          ><img class="icon" src="../../assets/icons/google.png"
        /></a>
        <a class="footer-icon" href=""
          ><img class="icon" src="../../assets/icons/dribble.png"
        /></a>
      </div>
    </div>
    <div class="row w-100 mt-5">
      <div class="col-lg-12 text-center text-white small font-2">
        2020 all rights reserved
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <div class="row header p-5 mt-4">
    <div class="col-lg-6 col-sm-6 text-left">
      <img class="logo ml-5" src="../../assets/images/logo-dark.png" />
    </div>
    <div class="col-lg-6 col-sm-6 text-right">
      <button
        class="btn font-2 btn-menu-close mr-5"
        (click)="handleMenuCloseClick()"
      >
        <img class="icon" src="../../assets/icons/close.png" />
      </button>
    </div>
  </div>
  <ul class="">
    <li>
      <a class="font-2" href="/">HOME </a>
    </li>
    <li><a class="font-2" href="/portfolio">GINKO</a></li>
    <li><a class="font-2" href="/cupid">CUPID</a></li>
    <li><a class="font-2" href="/diet">DIET</a></li>
    <li><a class="font-2" href="/suffer">SUFFER</a></li>
    <li><a class="font-2" href="/bolt">BOLT</a></li>
    <li><a class="font-2" href="/lyrical">Lyrical</a></li>
    <li><a class="font-2" href="/get-quote">GET A QUOTE </a></li>
    <li><a class="font-2" href="/contact">CONTACT US</a></li>
  </ul>
</div>
