<!-- <div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <app-header></app-header>
  </div>
  <div
    class="col-lg-6"
    style="    font-size: 611%;
                font-family: fantasy;
                letter-spacing: 7px;
                margin-top: 10%;
                margin-left: 7%;
                margin-bottom: 21%;"
  >
    <div class="vitican">
      <p style="text-shadow: 0 10px 2px rgba(2, 11, 22, 0.2);">
        VITICAN PARTNERS
      </p>
    </div>
    <hr />

    <p
      style="font-size: 30%;
                  font-family: sans-serif;
                  letter-spacing: 1px;
                  margin-left: 9%;
                  text-shadow: 0 5px 3px rgba(2, 11, 22, 0.2);"
    >
      service everything
    </p>
  </div>
  <div
    class="col-lg-6"
    style="    
              font-size: 463%;
              font-family: monospace;
              font-weight: bold;
              margin-top: 17%;
              padding-left: 21%;
              letter-spacing: 7px;
              margin-left: -19%;"
  >
    <div class="portfolio">
      <p style="text-shadow: 0 10px 2px rgba(2, 11, 22, 0.2);">PORTFOLIO</p>
    </div>
  </div>

  <div class="col-lg-12">
    <hr />
    <div
      class="col-lg-4"
      style="font-family: futura_m;
        font-weight: bold;
        text-shadow: 0 10px 2px rgba(2, 11, 22, 0.2);
        font-size: 566%;
        margin-top: 9%;
        "
      data-aos="fade-right"
    >
      <p>
        LYRICAL Lemonade
      </p>
      <p
        style="font-size: 22%; text-shadow: 0 2px 2px rgba(2, 11, 22, 0.2); font-family: auto;"
      >
        Just download this app, you can find songs and lyrics with easily.
      </p>
      <div class="getbutton">
        <a href="https://lyricallemonade.com/">
          <img
            src="../../assets/images/know more.png"
            alt="images"
            style="width: 46%; margin-left: 3%;
            "
          />
        </a>
      </div>
    </div>
    <div class="col-lg-8" data-aos="fade-left">
      <img
        src="../../assets/potfolio/LY.jpg"
        alt="images"
        style="width: 85%;
                  margin-left: 18.2%;
                      margin-top: 7%;"
      />
    </div>
  </div>

  <div class="col-lg-12" style="margin-top: 7%;">
    <hr />
    <div
      class="col-lg-8"
      style="    margin-left: 0%;
        margin-top: 7%;
        margin-bottom: 7%;"
      data-aos="fade-right"
    >
      <img
        src="../../assets/potfolio/BOLT DRIVER.jpg"
        alt="images"
        style="width: 85%;"
      />
    </div>

    <div
      class="col-lg-4"
      style="font-size: 566%;
            margin-top: 10%;
            margin-left: -3%;
            font-family: futura_m;
            font-weight: bold;
            text-shadow: 0 10px 2px rgba(2, 11, 22, 0.2);"
      data-aos="fade-left"
    >
      <p>Bolt Driver</p>
      <p
        style="font-size: 22%; text-shadow: 0 2px 2px rgba(2, 11, 22, 0.2); font-family: auto;"
      >
        Pay lower commission compared to other driver apps Work on your own
        schedule Collect your earnings every week Enjoy fast.
      </p>
      <div class="getbutton">
        <a href="https://apps.apple.com/us/app/bolt-driver-taxify/id897442736">
          <img
            src="../../assets/images/know more.png"
            alt="images"
            style="width: 46%; margin-left: 1%;"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <hr />
    <div
      class="col-lg-4"
      style="font-family: futura_m;
          font-weight: bold;
          text-shadow: 0 10px 2px rgba(2, 11, 22, 0.2);
          font-size: 566%;
          margin-top: 9%;
          "
      data-aos="fade-right"
    >
      <p>
        HITCH APP
      </p>
      <p
        style="font-size: 22%; text-shadow: 0 2px 2px rgba(2, 11, 22, 0.2); font-family: auto;"
      >
        This app contains the latest and most popular songs and lyrics, and free
        for you to download.
      </p>
      <div class="getbutton">
        <a href="https://lyricallemonade.com/">
          <img
            src="../../assets/images/know more.png"
            alt="images"
            style="width: 46%; margin-left: 3%;
              "
          />
        </a>
      </div>
    </div>
    <div class="col-lg-8" data-aos="fade-left">
      <img
        src="../../assets/potfolio/hitch.jpg"
        alt="images"
        style="width: 85%;
                    margin-left: 18.2%;
                        margin-top: 7%;"
      />
    </div>
  </div>

  <div class="col-lg-12" style="margin-top: 7%;">
    <hr />
    <div
      class="col-lg-8"
      style="    margin-left: 0%;
          margin-top: 7%;
          margin-bottom: 7%;"
      data-aos="fade-right"
    >
      <img
        src="../../assets/potfolio/cupid.jpg"
        alt="images"
        style="width: 85%;"
      />
    </div>

    <div
      class="col-lg-4"
      style="font-size: 566%;
              margin-top: 9%;
              margin-left: -2%;
              font-family: futura_m;
              font-weight: bold;
              text-shadow: 0 10px 2px rgba(2, 11, 22, 0.2);"
      data-aos="fade-left"
    >
      <p>CUPID DATING</p>
      <p
        style="font-size: 22%; text-shadow: 0 2px 2px rgba(2, 11, 22, 0.2); font-family: auto;"
      >
        Cupid is the dating app for meeting exciting local singles, making new
        friends, and finding your perfect match for a successful long-term
        relationship.
      </p>
      <div class="getbutton">
        <a href="https://apps.apple.com/us/app/cupid-dating-app/id379268567">
          <img
            src="../../assets/images/know more.png"
            alt="images"
            style="width: 46%; margin-left: 3%;"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <hr />
    <div
      class="col-lg-4"
      style="font-family: futura_m;
        font-weight: bold;
        text-shadow: 0 10px 2px rgba(2, 11, 22, 0.2);
        font-size: 566%;
        margin-top: 9%;
        "
      data-aos="fade-right"
    >
      <p>
        DIET ANN
      </p>
      <p
        style="font-size: 22%; text-shadow: 0 2px 2px rgba(2, 11, 22, 0.2); font-family: auto;"
      >
        Diet & Training by Ann Easy Home Workouts, Fit Diet DietLabs Diet and
        fitness experts in your pocket ñ over 1 million lives changed!
      </p>
      <div class="getbutton">
        <a
          href="https://apps.apple.com/gb/app/diet-training-by-ann/id1142970408"
        >
          <img
            src="../../assets/images/know more.png"
            alt="images"
            style="width: 46%; margin-left: 3%;
            "
          />
        </a>
      </div>
    </div>
    <div class="col-lg-8" data-aos="fade-left">
      <img
        src="../../assets/potfolio/diet.jpg"
        alt="images"
        style="width: 85%;
                  margin-left: 18.2%;
                      margin-top: 7%;"
      />
    </div>
  </div>

  <div class="col-lg-12" style="margin-top: 7%;" data-aos="fade-right">
    <hr />
    <div
      class="col-lg-8"
      style="    margin-left: 0%;
            margin-top: 7%;
            margin-bottom: 7%;"
    >
      <img
        src="../../assets/potfolio/SUFFER .jpg"
        alt="images"
        style="width: 85%;"
      />
    </div>

    <div
      class="col-lg-4"
      style="font-size: 566%;
                margin-top: 10%;
                margin-left: -6%;
                font-family: futura_m;
                font-weight: bold;
                text-shadow: 0 10px 2px rgba(2, 11, 22, 0.2);"
      data-aos="fade-left"
    >
      <p>THE SUFFERFEST</p>
      <p
        style="font-size: 22%; text-shadow: 0 2px 2px rgba(2, 11, 22, 0.2); font-family: auto;"
      >
        The Sufferfest Training System Cycling and Triathlon Workouts
      </p>
      <div class="getbutton">
        <a
          href="https://apps.apple.com/us/app/the-sufferfest-training-system/id917325169?mt=8"
        >
          <img
            src="../../assets/images/know more.png"
            alt="images"
            style="width: 46%; margin-left: 20%;"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <hr />
    <div
      class="col-lg-4"
      style="font-family: futura_m;
        font-weight: bold;
        text-shadow: 0 10px 2px rgba(2, 11, 22, 0.2);
        font-size: 566%;
        margin-top: 9%;
        "
      data-aos="fade-right"
    >
      <p>
        GINKO APP
      </p>
      <p
        style="font-size: 22%; text-shadow: 0 2px 2px rgba(2, 11, 22, 0.2); font-family: auto;"
      >
        One tap contact exchange app Ginko is the patented one tap
      </p>
      <div class="getbutton">
        <a href="https://apps.apple.com/us/app/ginko/id1029413955">
          <img
            src="../../assets/images/know more.png"
            alt="images"
            style="width: 46%; margin-left: 3%;
            "
          />
        </a>
      </div>
    </div>
    <div class="col-lg-8" data-aos="fade-left">
      <img
        src="../../assets/potfolio/ginko-p.jpg"
        alt="images"
        style="width: 85%;
                  margin-left: 18.2%;
                      margin-top: 7%;margin-bottom: 10%;"
      />
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <app-header></app-header>
    </div>
    <div class="col-lg-12">
      <!-- <p
        style="font-size: 638%;
                margin-bottom: 35%;
                margin-top: 14%;
                margin-left: -12%;
                font-family: GilroyBold,sans-serif;
                font-weight: bold;"
      >
        GINKO APP
      </p> -->
    </div>
  </div>

  <video
    autoplay
    muted
    loop
    preload="true"
    id="myVideo"
    controls
    style="     width: 121%;
          margin-left: -11%;
          margin-top: 1%;"
  >
    <source src="../../assets/videos/5.mp4" type="video/mp4" />
  </video>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p
        style="font-size: 43px;
                font-family: sans-serif;
                font-weight: bold;
                margin-top: 5%;
                text-align: center;"
      >
        Ginko is the one tap contact exchange app!
      </p>
      <p
        style="font-size: 21px;
                margin-top: 5%;"
      >
        Exchanging contact information has never been faster or easier. To
        exchange contact information, 2 or more users simply hold the ‘Ginko Me’
        button and select what information they would like to share with each
        other. It’s that simple! Never think about updating your contacts’
        information again, as the app does this automatically for you whenever
        there is a contact profile change.
      </p>
    </div>
    <div class="col-lg-12">
      <img
        src="../../assets/images/Image_1 (1).png"
        style="    width: 100%;"
        data-aos="fade-down"
      />
    </div>
    <div class="col-lg-12">
      <img
        src="../../assets/images/Image_1 (2).png"
        style="    width: 100%;     margin-bottom: 9%;"
        data-aos="fade-down"
      />
    </div>
    <div class="col-lg-12">
      <p
        style="    font-size: 43px;
                font-family: sans-serif;
                font-weight: bold;
                margin-top: -2%;
                text-align: center;"
      >
        Technologies
      </p>
      <p
        style="font-size: 21px;
                margin-top: 5%;
                text-align: center;
                margin-bottom: 7%;"
      >
        Android Studio, WebRTC, Google Map V3, GPS Tracking, Firebase
      </p>
    </div>
    <div class="col-lg-3">
      <img
        src="../../assets/images/Ginko1_Android.PNG"
        style="    width: 109%;
                  margin-top: 3%;"
      />
    </div>
    <div class="col-lg-3">
      <img
        src="../../assets/images/Ginko2_Android.PNG"
        style="     width: 116%;
                margin-top: 8%;"
      />
    </div>
    <div class="col-lg-3">
      <img
        src="../../assets/images/Ginko3_iPhone.PNG"
        style="    width: 100%;"
      />
    </div>
    <div class="col-lg-3">
      <img
        src="../../assets/images/Ginko4_iPhone.PNG"
        style="    width: 100%;"
      />
    </div>

    <div class="col-lg-12">
      <div class="sufferlogo">
        <a href="https://apps.apple.com/us/app/ginko/id1029413955">
          <img
            src="../../assets/images/logo (5).png"
            style="border-radius: 10px;
          margin-left: 43%;
          margin-top: 6%;
          margin-bottom: 6%;"
          />
        </a>
      </div>
    </div>
    <div class="col-lg-12">
      <p
        style="font-size: 20px;
                margin-top: 5%;"
      >
        Ginko Me - Scan for contacts in your nearby area, exchange info with the
        touch of a button and have it automatically synced into your contacts.
      </p>
    </div>
  </div>

  <div class="col-lg-12">
    <div
      class="next"
      style="     margin-left: 18%;
    margin-right: -14%;"
    >
      <a href="/diet" style="text-decoration:none">
        <p
          style="    font-size: 400%;
                              font-family: sans-serif;
                              font-weight: bold;
                              background-color: #8e97e6;
                              color: white;
                              margin-left: 1%;
                              margin-right: 37%;
                              margin-top: 9%;
                              text-align: center;
                              border-radius: 12px;"
        >
          NEXT
        </p>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid fifth bg-black" style="position:initial;">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-lg-4">
        <h3 class="font-2">Address</h3>
        <p>
          500 NE Colorado Street, <br />
          Pullman WA 99163
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <h3 class="font-2">Phone</h3>
        <p>
          509-596-1385
        </p>
      </div>
      <div class="col-lg-4 text-right">
        <h3 class="font-2">Social</h3>
        <a class="footer-icon" href=""
          ><img class="icon" src="../../assets/icons/facebook.png"
        /></a>
        <a class="footer-icon" href=""
          ><img class="icon" src="../../assets/icons/twitter.png"
        /></a>
        <br />
        <a class="footer-icon" href=""
          ><img class="icon" src="../../assets/icons/google.png"
        /></a>
        <a class="footer-icon" href=""
          ><img class="icon" src="../../assets/icons/dribble.png"
        /></a>
      </div>
    </div>
    <div class="row w-100 mt-5">
      <div class="col-lg-12 text-center text-white small font-2">
        2020 all rights reserved
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <div class="row header p-5 mt-50">
    <div class="col-lg-6 col-sm-6 text-left">
      <div class="col-lg-6 col-sm-6 text-right">
        <button
          class="btn font-2 btn-menu-close mr-5"
          (click)="handleMenuCloseClick()"
        >
          <img class="icon" src="../../assets/icons/close.png" />
        </button>
      </div>
    </div>
    <ul class="">
      <li>
        <a class="font-2" href="/">HOME </a>
      </li>
      <li><a class="font-2" href="/portfolio">GINKO</a></li>
      <li><a class="font-2" href="/cupid">CUPID</a></li>
      <li><a class="font-2" href="/diet">DIET</a></li>
      <li><a class="font-2" href="/suffer">SUFFER</a></li>
      <li><a class="font-2" href="/bolt">BOLT</a></li>
      <li><a class="font-2" href="/lyrical">Lyrical</a></li>
      <li><a class="font-2" href="/get-quote">GET A QUOTE </a></li>
      <li><a class="font-2" href="/contact">CONTACT US</a></li>
    </ul>
  </div>
</div>
