<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <app-header></app-header>
    </div>
    <video
      autoplay
      muted
      loop
      preload="true"
      id="myVideo"
      controls
      style=" width: 115%;
                margin-left: -6%;
                margin-top: 4%;"
    >
      <source
        src="../../assets/videos/Diet & Training By Ann.mp4"
        type="video/mp4"
      />
    </video>
    <div
      class="col-lg-12"
      style="    background-color: #717ace;
    margin-top: 11%;
    margin-bottom: 7%;"
    >
      <p
        style="color: white;
    font-size: 312%;
    font-family: sans-serif; font-weight: bold;"
      >
        Diet and fitness experts in your pocket – over 1 million lives changed!
      </p>
      <p style="font-size: 20px; color:white">
        Meet the easiest and most convenient diet and home workout app for
        long-lasting lifestyle changes. Get the slim physique you’re dreaming
        of!
      </p>
    </div>
    <div
      class="col-lg-6"
      style="background-color: #1e475f;
    margin-top: 2%;"
    >
      <img
        src="../../assets/images/screenshot1.jpg"
        style="    margin-top: 6%;
    margin-left: 30%;
    margin-bottom: 6%;"
      />
    </div>

    <div
      class="col-lg-6"
      style="background-color: #c9ccd2;
        margin-top: 2%;"
    >
      <img
        src="../../assets/images/screenshot1.jpg"
        style="    margin-top: 6%;
        margin-left: 30%;
        margin-bottom: 6%;"
      />
    </div>

    <div class="diet">
      <p
        style="font-size: 486%;
    font-family: sans-serif;
    margin-top: 8%;"
      >
        THE MOST COMPLETE FITNESS APP
      </p>
      <p style="    font-size: 20px;">
        Easy home workouts – customizable monthly workout plans for your fitness
        goals
      </p>
    </div>

    <div class="women">
      <div
        class="col-lg-12"
        style="margin-left: 55%;
        margin-top: 10%;"
      >
        <img src="../../assets/images/diet2.png" />
      </div>
    </div>

    <div
      class="col-lg-12"
      style="    background-color: #efb5c0; margin-top: 4%;"
    >
      <div class="sufferlogo">
        <a
          href="https://apps.apple.com/gb/app/diet-training-by-ann/id1142970408"
        >
          <img
            src="../../assets/images/logo (3).png"
            style="border-radius: 10px;
              margin-left: 43%;
              margin-top: 6%;
              margin-bottom: 6%;"
          />
        </a>
      </div>
    </div>
    <!-- <div class="col-lg-3">
      <img src="../../assets/images/diet3.png" />
    </div>
    <div class="col-lg-3">
      <img src="../../assets/images/diet4.png" />
    </div> -->
  </div>
</div>
<div class="menu">
  <div class="row header p-5 mt-50">
    <div class="col-lg-6 col-sm-6 text-left">
      <div class="col-lg-6 col-sm-6 text-right">
        <button
          class="btn font-2 btn-menu-close mr-5"
          (click)="handleMenuCloseClick()"
        >
          <img class="icon" src="../../assets/icons/close.png" />
        </button>
      </div>
    </div>
    <ul class="">
      <li>
        <a class="font-2" href="/">HOME </a>
      </li>
      <li><a class="font-2" href="/portfolio">GINKO</a></li>
      <li><a class="font-2" href="/cupid">CUPID</a></li>
      <li><a class="font-2" href="/diet">DIET</a></li>
      <li><a class="font-2" href="/suffer">SUFFER</a></li>
      <li><a class="font-2" href="/bolt">BOLT</a></li>
      <li><a class="font-2" href="/lyrical">Lyrical</a></li>
      <li><a class="font-2" href="/get-quote">GET A QUOTE </a></li>
      <li><a class="font-2" href="/contact">CONTACT US</a></li>
    </ul>
  </div>
</div>
