<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <app-header></app-header>
    </div>
    <video
      autoplay
      muted
      loop
      preload="true"
      id="myVideo"
      controls
      style=" width: 115%;
                        margin-left: -6%;
                        margin-top: 4%;"
    >
      <source src="../../assets/videos/stufferfest.mp4" type="video/mp4" />
    </video>
    <div class="col-lg-12" style="margin-bottom: 8%;">
      <p
        style="font-size: 444%;
                text-align: center;
                font-family: sans-serif;
                font-weight: bold;
                background-color: aliceblue;
                margin-top: 6%;"
        data-aos="fade-up"
      >
        The stufferfest
      </p>
      <p
        style="font-size: 20px;
                margin-top: 4%;
                
                color: #293161;"
        data-aos="fade-up"
      >
        The Sufferfest is the most effective training app available for
        time-crunched cyclists and triathletes, giving you everything you need
        to get stronger, faster and tougher.
      </p>
    </div>
    <div class="col-lg-4">
      <div class="s-1">
        <img
          src="../../assets/images/21411 (1).png"
          style="width: 77%;
    margin-top: 9%;
    margin-left: 0%;"
          data-aos="zoom-in"
        />
      </div>
    </div>

    <div class="col-lg-4">
      <div class="s-2">
        <img
          src="../../assets/images/21411 (3).png"
          style="    width: 77%;
            margin-top: 9%;
            margin-left: 10%;"
          data-aos="zoom-in"
        />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="s-3">
        <img
          src="../../assets/images/21411 (2).png"
          style="    width: 77%;
            margin-top: 9%;
            margin-left: 23%;"
          data-aos="zoom-in"
        />
      </div>
    </div>
    <div class="col-lg-12">
      <div class="sufferlogo">
        <a
          href="https://apps.apple.com/us/app/the-sufferfest-training-system/id917325169?mt=8"
        >
          <img
            src="../../assets/images/logo (6).png"
            style="margin-left: 39%;
    border-radius: 10%;
    margin-top: 13%;
    margin-bottom: 5%;"
          />
        </a>
      </div>
    </div>

    <p
      style="font-size: 20px;
    margin-top: 6%;"
      data-aos="fade-up"
    >
      Exclusive to The Sufferfest, Four-Dimensional Power (4DP™) measures your
      complete power profile to determine your Rider Type, identify your primary
      area for improvement , and personalize the power targets in your workouts
      to 4 metrics (not just FTP) for the most effective training anywhere. Find
      out more here: https://vimeo.com/238124644
    </p>
    <div class="cycle">
      <img
        src="../../assets/images/bicycle-1564342_960_720.png"
        style="    width: 74%;
                    margin-top: 9%;
                    margin-left: 35%;"
      />
    </div>
  </div>
  <!-- <button class="button button4">12px</button> -->
  <a href="/bolt" style="    text-decoration: none;">
    <div class="next">
      <p
        style="font-size: 400%;
                font-family: sans-serif;
                font-weight: bold;
                text-align: center;
                background-color: #f38993;
                color: white;"
      >
        NEXT
      </p>
    </div>
  </a>
</div>

<div class="menu">
  <div class="row header p-5 mt-50">
    <div class="col-lg-6 col-sm-6 text-left">
      <div class="col-lg-6 col-sm-6 text-right">
        <button
          class="btn font-2 btn-menu-close mr-5"
          (click)="handleMenuCloseClick()"
        >
          <img class="icon" src="../../assets/icons/close.png" />
        </button>
      </div>
    </div>
    <ul class="">
      <li>
        <a class="font-2" href="/">HOME </a>
      </li>
      <li><a class="font-2" href="/portfolio">GINKO</a></li>
      <li><a class="font-2" href="/cupid">CUPID</a></li>
      <li><a class="font-2" href="/diet">DIET</a></li>
      <li><a class="font-2" href="/suffer">SUFFER</a></li>
      <li><a class="font-2" href="/bolt">BOLT</a></li>
      <li><a class="font-2" href="/lyrical">Lyrical</a></li>
      <li><a class="font-2" href="/get-quote">GET A QUOTE </a></li>
      <li><a class="font-2" href="/contact">CONTACT US</a></li>
    </ul>
  </div>
</div>
